Elvira_Curp/CurpForm/Service References/CurpReferencia/ServicioCurp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Generar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarSoapIn">
    <wsdl:part name="parameters" element="tns:Generar" />
  </wsdl:message>
  <wsdl:message name="GenerarSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioCurpSoap">
    <wsdl:operation name="Generar">
      <wsdl:input message="tns:GenerarSoapIn" />
      <wsdl:output message="tns:GenerarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCurpSoap" type="tns:ServicioCurpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generar">
      <soap:operation soapAction="http://tempuri.org/Generar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioCurpSoap12" type="tns:ServicioCurpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generar">
      <soap12:operation soapAction="http://tempuri.org/Generar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCurp">
    <wsdl:port name="ServicioCurpSoap" binding="tns:ServicioCurpSoap">
      <soap:address location="http://localhost:5257/ServicioCurp.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioCurpSoap12" binding="tns:ServicioCurpSoap12">
      <soap12:address location="http://localhost:5257/ServicioCurp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>